<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

</head>

<body>
<div th:insert="menubar.html"></div>

<div class="row">
    <div class="col-9">
        <span th:if="${session.currentUser==null}">
           <div class="alert alert-danger" role="alert">
            Для добавления товара в корзину пройдите регистрацию
        </div>
        </span>


        <div class="row ">
            <div class="col-md-5  p-md-4">
                <img th:src="${productDTO.getProduct.getPhotos.get(0)}" class="w-100" alt="...">


            </div>
            <div class="col-md-5 p-2 ps-md-4">
                <h5 class="mt-0">
                    <span th:text="*{productDTO.getProduct.getName}"></span></h5>
                <div class="row">
                    <div class="container-sm">
                        <div class="row">
                            <div class="col-md-2  p-md-1">
                                <img th:src="${productDTO.getProduct.getPhotos.get(1)}" class="w-100" height="80"
                                     alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img th:src="${productDTO.getProduct.getPhotos.get(2)}" class="w-100" height="80"
                                     alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img th:src="${productDTO.getProduct.getPhotos.get(3)}" class="w-100" height="80"
                                     alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img th:src="${productDTO.getProduct.getPhotos.get(4)}" class="w-100" height="80"
                                     alt="...">
                            </div>

                        </div>
                    </div>
                </div>

                <p><span th:text="*{productDTO.getProduct.getDescription}"></span></p>


            </div>

        </div>
    </div>
    <div class="col-3 col-md-0 ">
        <div class="row">

            <ol class="list-group">
                <ul th:each="shop : ${productDTO.getProductShopDTOList}">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div>
                                <td th:text="${shop.getNameShop}"></td>
                            </div>
                            <td th:text="${'доставка: '+shop.getDeliveryShop}"></td>

                            <form action="/cart" method="post">
                                <input type="hidden" th:value="*{productDTO.getProduct.getId}" name="idProduct"/>
                                <input type="hidden" th:value="*{shop.getIdShop}" name="idShop"/>
                                <!-- IF CUSTOMER IS ANONYMOUS -->
                                <div th:if="${session.currentUser == null}">
                                    <input type="hidden" th:value="-1" name="idAccount"/>
                                </div>
                                <!-- ELSE -->
                                <div th:if="${session.currentUser != null}">
                                    <input type="hidden" th:value="${session.currentUser.getId}" name="idAccount"/>
                                </div>
                                <button type="submit" name="type" value="Sumbit" class="btn btn-outline-success">
                                    в корзину
                                </button>
                            </form>


                        </div>
                        <span class="badge text-bg-primary rounded-pill"><td
                                th:text="${shop.getPriceShop + ' byn'}"></td></span>
                    </li>
                </ul>
            </ol>

        </div>
    </div>
</div>
</body>
</html>