<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

</head>

<body>
<div th:insert="menubar.html"></div>

<div class="row">
    <div class="col-9">
        <div class="row ">
            <div class="col-md-3  p-md-2">
                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                     class="w-100" alt="...">
            </div>

            <div class="col-md-5 p-2 ps-md-4">
                <h5 class="mt-0">Name product</h5>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                            <div class="col-md-2  p-md-1">
                                <img src="https://avatars.mds.yandex.net/i?id=69c184e9227ad642debe8a6f03c291c72f6d8bb3-9271382-images-thumbs&n=13"
                                     class="w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

                <p> Surface Book: Starting at 3.34 lbs (1,516 g) including keyboard</p>
                <p> Surface Book with Performance Base: 3.68 lbs (1,647 g) including keyboard</p>
                <button type="button" class="btn btn-outline-success">In Cart!</button>

            </div>

        </div>
    </div>
    <div class="col-3 col-md-0 ">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                best price shop
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second price shop</a>
            <a href="#" class="list-group-item list-group-item-action">A third price shop</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth price shop</a>
        </div>
    </div>

</div>


</body>
</html>