<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop registration</title>
</head>
<body>
<div th:insert="menubar"></div>
<div class="row justify-content-center">
    <form  class="col-4" action="/shop/create" method="post">
        <div class="mb-3">
            <label for="InputName" class="form-label center">Shop name</label>
            <input type="text" name="name" class="form-control" id="InputName">
        </div>
        <button type="submit" class="btn btn-primary">Create shop</button>
    </form>
    <div style="color: red" th:text="${error}"></div>
</div>
</body>
</html>