<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Profile</title>
</head>
<body>
<div th:insert="menubar"></div>
<div class="text-center">
    <h1 th:text="${shop.getName}"></h1>
</div>
<div class="container">
<div class="row">
    <div class="text-center col-3">
        <h3>Description</h3>
        <ul class="list-group">
            <li class="list-group-item" th:text="${customer.getFirstName+' '+customer.getLastName}"></li>
            <li class="list-group-item" th:text="${customer.getPhone}"></li>
            <li class="list-group-item" th:text="${customer.getAddress}"></li>
        </ul>
    </div>
    <div class="text-center col-9">
        <h3>Orders</h3>
        <div class="accordion text-center" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Текущие заказы
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div th:each="openOrder : ${openOrders}" class="card col-4" th:object="${openOrder}">
                                <div class="card" style="width: 100%;">
                                    <div>
                                        <img th:src="*{photo}" width="150" height="150" class="w-100" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="*{productName}"></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:text="'цена: ' + *{totalPrice + ' byn'}"></li>
                                        <li class="list-group-item" th:text="'доставка: ' + *{shopDelivery}"></li>
                                        <li class="list-group-item" th:text="'имя: ' + *{firstName}"></li>
                                        <li class="list-group-item" th:text="'фамилия: ' + *{lastName}"></li>
                                        <li class="list-group-item" th:text="'телефон: ' + *{phone}"></li>
                                        <li class="list-group-item" th:text="'адрес: ' + *{deliveryAddress}"></li>
                                        <li class="list-group-item">
                                            <a th:href="@{/order/close(orderId=*{orderId},shopId=${shop.id})}" class="btn btn-primary">Закрыть</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Архив заказов
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div th:each="closeOrder : ${closeOrders}" class="card col-4" th:object="${closeOrder}">
                                <div class="card" style="width: 100%;">
                                    <div>
                                        <img th:src="*{photo}" width="150" height="150" class="w-100" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="*{productName}"></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:text="'цена: ' + *{totalPrice + ' byn'}"></li>
                                        <li class="list-group-item" th:text="'доставка: ' + *{shopDelivery}"></li>
                                        <li class="list-group-item" th:text="'имя: ' + *{firstName}"></li>
                                        <li class="list-group-item" th:text="'фамилия: ' + *{lastName}"></li>
                                        <li class="list-group-item" th:text="'телефон: ' + *{phone}"></li>
                                        <li class="list-group-item" th:text="'адрес: ' + *{deliveryAddress}"></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="btn-group">
    <a th:href="@{/shop/add-product(shopId=${shop.id})}" class="btn btn-primary">Add product</a>
    <a href="/" class="btn btn-primary">Edit a profile</a>
</div>
</body>
</html>
