<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My orders</title>
</head>
<body>
<div th:insert="menubar.html"></div>
    <div class="container">
        <div class="accordion text-center" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Текущие заказы
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div th:each="orderOpenDto : ${orderOpenDtos}" class="card col-3" th:object="${orderOpenDto}">
                                <div class="card" style="width: 18rem;">
                                    <div>
                                        <img th:src="*{photo}" width="150" height="150" class="w-100" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="*{productName}"></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:text="'цена: ' + *{totalPrice + ' byn'}"></li>
                                        <li class="list-group-item" th:text="'магазин: ' + *{shopName}"></li>
                                        <li class="list-group-item" th:text="'доставка: ' + *{shopDelivery}"></li>
                                        <li class="list-group-item" th:text="'имя: ' + *{firstName}"></li>
                                        <li class="list-group-item" th:text="'фамилия: ' + *{lastName}"></li>
                                        <li class="list-group-item" th:text="'телефон: ' + *{phone}"></li>
                                        <li class="list-group-item" th:text="'адрес: ' + *{deliveryAddress}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Архив заказов
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div th:each="orderCloseDto : ${orderCloseDtos}" class="card col-3" th:object="${orderCloseDto}">
                                <div class="card" style="width: 18rem;">
                                    <div>
                                        <img th:src="*{photo}" width="150" height="150" class="w-100" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="*{productName}"></h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:text="'цена: ' + *{totalPrice + ' byn'}"></li>
                                        <li class="list-group-item" th:text="'магазин: ' + *{shopName}"></li>
                                        <li class="list-group-item" th:text="'доставка: ' + *{shopDelivery}"></li>
                                        <li class="list-group-item" th:text="'имя: ' + *{firstName}"></li>
                                        <li class="list-group-item" th:text="'фамилия: ' + *{lastName}"></li>
                                        <li class="list-group-item" th:text="'телефон: ' + *{phone}"></li>
                                        <li class="list-group-item" th:text="'адрес: ' + *{deliveryAddress}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>