<!DOCTYPE html>
<html lang="en" xmlns="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NewProductType</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
<!--<div th:insert="menubar"></div>-->
<style>
    .flex-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    h5 {  font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
    }
    label {
        font-family: 'Times New Roman', Times, serif;
    }
    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);}
</style>
<h5>Новый тип продукта</h5>
<hr>
<div class="flex-row">
    <form th:method="POST" th:action="@{/productstypes}">
        <label for="typeName">Тип продукта:</label>
        <input type="text" th:field="${productType.typeName}" id="typeName"/>
        <br/>
        <label for="photo">Ссылка на фото:</label>
        <input type="text" th:field="${productType.Photo}" id="photo"/>
        <br/>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCard">
            Создать
        </button>
</div>
</form>
<div class="modal" id="modalCard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card text-center text-success">
                <div class="modal-body">
                    <i class="fa fa-check-circle fa-5x"></i>
                    <h4 class="card-title">Готово!</h4>
                    <p class="card-text">Новый тип товара создан</p>
                    <a href="#" class="btn btn-success">ок</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</script>
</body>
</html>